### In this notebook we'll explore the usage of the python library nsepy 
    1. Getting the historical data for stocks
    2. Getting the bhawcopy data
    3. Getting historical data for futures
    4. Getting historical data for options
    5. Other Miscellaneous features

In [6]:
# getting the stock historical data
from nsepy import get_history
from datetime import date
data = get_history(symbol="SBIN", start=date(2015,1,1), end=date(2015,1,31))
data.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,SBIN,EQ,311.85,312.45,315.00,310.70,314.0,314.00,313.67,6138488,1.925489e+14,58688,1877677,0.3059
2015-01-02,SBIN,EQ,314.00,314.35,318.30,314.35,315.6,315.25,316.80,9935094,3.147389e+14,79553,4221685,0.4249
2015-01-05,SBIN,EQ,315.25,316.25,316.80,312.10,312.8,312.75,313.84,9136716,2.867432e+14,88236,3845173,0.4208
2015-01-06,SBIN,EQ,312.75,310.00,311.10,298.70,299.9,299.90,305.14,15329257,4.677601e+14,169268,7424847,0.4844
2015-01-07,SBIN,EQ,299.90,300.00,302.55,295.15,301.4,300.15,299.95,15046745,4.513243e+14,147185,5631400,0.3743

In [7]:
# Stock futures (Similarly for index futures, set index = True)
sbin_fut = get_history(symbol="SBIN",
                        start=date(2015,1,1),
                        end=date(2015,1,10),
                        futures=True,
                        expiry_date=date(2015,1,29))
sbin_fut.head()

,Symbol,Expiry,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,
2015-01-01,SBIN,2015-01-29,315.10,317.95,313.40,316.65,317.00,316.65,14720,5.821172e+09,55480000,358750,314.00
2015-01-02,SBIN,2015-01-29,317.50,320.95,317.10,317.75,318.30,317.75,22525,8.988242e+09,55087500,-392500,315.25
2015-01-05,SBIN,2015-01-29,318.00,318.75,314.10,315.00,315.05,315.00,17455,6.898723e+09,55718750,631250,312.75
2015-01-06,SBIN,2015-01-29,312.95,312.95,300.10,301.30,301.10,301.30,29338,1.126715e+10,56701250,982500,299.90
2015-01-07,SBIN,2015-01-29,301.95,304.55,297.35,302.25,303.50,302.25,28489,1.074823e+10,58036250,1335000,300.15

In [8]:
# Stock options (Similarly for index options, set index = True)
stock_opt = get_history(symbol="SBIN",
                        start=date(2015,1,1),
                        end=date(2015,1,10),
                        option_type="CE",
                        strike_price=300,
                        expiry_date=date(2015,1,29))
stock_opt.head()

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2015-01-01,SBIN,2015-01-29,CE,300.0,18.95,21.15,18.95,20.85,20.95,20.85,44,17631000.0,NaN,310000,-10000,314.00
2015-01-02,SBIN,2015-01-29,CE,300.0,21.50,23.90,21.35,21.45,21.40,21.45,84,33889000.0,NaN,301250,-8750,315.25
2015-01-05,SBIN,2015-01-29,CE,300.0,21.00,21.00,18.60,18.60,18.60,18.60,47,18775000.0,NaN,307500,6250,312.75
2015-01-06,SBIN,2015-01-29,CE,300.0,16.10,16.80,10.50,11.05,11.20,11.05,328,127846000.0,NaN,441250,133750,299.90
2015-01-07,SBIN,2015-01-29,CE,300.0,11.05,12.50,9.00,11.25,11.85,11.25,1512,587993000.0,NaN,841250,400000,300.15

In [9]:
# Index Historical data
nifty_50 = get_history(symbol="NIFTY 50",
                            start=date(2015,1,1),
                            end=date(2015,1,10),
                            index=True)
nifty_50.head()

               Open     High      Low    Close     Volume      Turnover
Date
2015-01-01  8272.80  8294.70  8248.75  8284.00   56560411  2.321880e+10
2015-01-02  8288.70  8410.60  8288.70  8395.45  101887024  4.715720e+10
2015-01-05  8407.95  8445.60  8363.90  8378.40  118160545  5.525520e+10
2015-01-06  8325.30  8327.85  8111.35  8127.35  172799618  8.089190e+10
2015-01-07  8118.65  8151.20  8065.45  8102.10  164075424  7.464330e+10

In [10]:
# Index futures data
nifty_fut = get_history(symbol="NIFTY",
                        start=date(2015,1,1),
                        end=date(2015,1,10),
                        index=True,
                        futures=True,
                        expiry_date=date(2015,1,29))
nifty_fut.head()

,Symbol,Expiry,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,
2015-01-01,NIFTY,2015-01-29,8320.00,8356.0,8295.20,8343.80,8347.05,8343.80,152053,3.165350e+10,21140550,-28675,8284.00
2015-01-02,NIFTY,2015-01-29,8352.25,8470.9,8352.25,8458.40,8468.00,8458.40,384440,8.105711e+10,21427925,287375,8395.45
2015-01-05,NIFTY,2015-01-29,8452.35,8492.0,8406.00,8422.85,8423.85,8422.85,362889,7.661895e+10,20698500,-729425,8378.40
2015-01-06,NIFTY,2015-01-29,8422.00,8422.0,8000.00,8157.90,8150.30,8157.90,807830,1.663583e+11,19157775,-1540725,8127.35
2015-01-07,NIFTY,2015-01-29,8150.00,8184.0,8096.00,8141.85,8154.00,8141.85,513814,1.046381e+11,18716025,-441750,8102.10

In [11]:
# Index Options data
nifty_opt = get_history(symbol="NIFTY",
                        start=date(2015,1,1),
                        end=date(2015,1,10),
                        index=True,
                        option_type='CE',
                        strike_price=8200,
                        expiry_date=date(2015,1,29))
nifty_opt.head()

,Symbol,Expiry,Option Type,Strike Price,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Premium Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,,,,
2015-01-01,NIFTY,2015-01-29,CE,8200.0,170.10,223.00,170.10,214.85,217.5,214.85,25091,5.272510e+09,NaN,1214775,-9325,8284.00
2015-01-02,NIFTY,2015-01-29,CE,8200.0,224.25,301.50,219.55,287.20,298.0,287.20,35187,7.452236e+09,NaN,997025,-217750,8395.45
2015-01-05,NIFTY,2015-01-29,CE,8200.0,285.50,313.85,245.20,257.85,255.5,257.85,16551,3.508488e+09,NaN,966425,-30600,8378.40
2015-01-06,NIFTY,2015-01-29,CE,8200.0,207.05,207.05,102.80,110.00,107.9,110.00,280463,5.843498e+10,NaN,2138150,1171725,8127.35
2015-01-07,NIFTY,2015-01-29,CE,8200.0,115.05,125.80,90.55,103.15,107.9,103.15,635262,1.319545e+11,NaN,3129950,991800,8102.10

In [12]:
# VIX historical data
vix = get_history(symbol="INDIAVIX",
            start=date(2015,1,1),
            end=date(2015,1,10),
            index=True)
vix.head()

               Open     High      Low    Close  Previous  Change  %Change
Date
                NaN      NaN      NaN      NaN       NaN     NaN      NaN
2015-01-01  15.1200  15.5075  14.7550  15.0250   15.1200   -0.10  -0.0063
2015-01-02  15.0250  15.0250  13.4825  13.7950   15.0250   -1.23  -0.0819
2015-01-05  13.7950  14.4050  13.1525  14.1525   13.7950    0.36   0.0259
2015-01-06  14.1525  17.8700  13.4575  17.4200   14.1525    3.27   0.2309

In [20]:
# fetching the expiry dates
from nsepy.derivatives import get_expiry_date
expiry = get_expiry_date(year=2020,month=4)
print(expiry)

{datetime.date(2020, 4, 23), datetime.date(2020, 4, 9), datetime.date(2020, 4, 30), datetime.date(2020, 4, 16), datetime.date(2020, 4, 1)}

In [21]:
# Index P/E ratio history
from nsepy import get_index_pe_history
nifty_pe = get_index_pe_history(symbol="NIFTY",
                                start=date(2015,1,1),
                                end=date(2015,1,10))
nifty_pe

              P/E   P/B  Div Yield
Date
2015-01-01  21.16  3.49       1.27
2015-01-02  21.45  3.54       1.26
2015-01-05  21.40  3.53       1.26
2015-01-06  20.76  3.42       1.30
2015-01-07  20.70  3.41       1.30
2015-01-08  21.04  3.47       1.28
2015-01-09  21.16  3.49       1.27

In [23]:
# Getting the RBI reference 
from nsepy import get_rbi_ref_history
rbi_ref = get_rbi_ref_history(date(2015,1,1), date(2015,1,10))
rbi_ref

              1 USD    1 GBP   1 EURO  100 YEN
Date
2015-01-09  62.3953  94.1670  73.6140    52.23
2015-01-08  62.9670  94.9731  74.4270    52.53
2015-01-07  63.4495  95.9864  75.2765    53.30
2015-01-06  63.3850  96.7192  75.7958    53.25
2015-01-05  63.3888  96.8454  75.6672    52.61
2015-01-02  63.2878  98.3872  76.3061    52.59
2015-01-01  63.3213  98.6356  76.5998    52.91

In [25]:
# Getting the bhaw copy of the data
from nsepy.history import get_price_list
prices = get_price_list(dt=date(2015,1,1))
prices.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN
0,20MICRONS,EQ,30.45,31.00,30.25,30.40,30.4,30.60,37604,1.150221e+06,01-JAN-2015,200,INE144J01027
1,3IINFOTECH,EQ,9.50,10.10,9.25,9.75,9.8,9.45,5374064,5.238724e+07,01-JAN-2015,7437,INE748C01020
2,3MINDIA,EQ,6444.80,6529.15,6402.90,6504.60,6462.0,6450.05,170,1.101650e+06,01-JAN-2015,75,INE470A01017
4,8KMILES,EQ,633.90,739.95,630.00,727.30,725.0,629.80,327015,2.275663e+08,01-JAN-2015,14398,INE650K01013
5,A2ZINFRA,EQ,17.10,18.00,17.05,18.00,18.0,17.15,215038,3.857010e+06,01-JAN-2015,603,INE619I01012

### Another library which we use for getting some additional data

In [26]:
from nsetools import Nse
nse = Nse()
fut_dict = nse.get_fno_lot_sizes() # gives the list of futures traded currently
#fut_list = list(fut_dict.keys())

In [27]:
fut_dict

{'BANKNIFTY': 25,
 'FINNIFTY': 40,
 'NIFTY': 75,
 'AUROPHARMA': 650,
 'ADANIPORTS': 1250,
 'AARTIIND': 425,
 'APLLTD': 550,
 'ASIANPAINT': 300,
 'CADILAHC': 2200,
 'BANDHANBNK': 1800,
 'BERGEPAINT': 1100,
 'BRITANNIA': 200,
 'ACC': 500,
 'CHOLAFIN': 1250,
 'ALKEM': 200,
 'AMARAJABAT': 1000,
 'AMBUJACEM': 3000,
 'CONCOR': 1563,
 'APOLLOHOSP': 250,
 'APOLLOTYRE': 2500,
 'DEEPAKNTR': 500,
 'EICHERMOT': 350,
 'AUBANK': 500,
 'AXISBANK': 1200,
 'GRANULES': 1550,
 'GRASIM': 475,
 'BAJAJ-AUTO': 250,
 'BAJAJFINSV': 125,
 'HDFC': 300,
 'BAJFINANCE': 125,
 'BALKRISIND': 400,
 'HDFCAMC': 200,
 'BANKBARODA': 11700,
 'HINDALCO': 2150,
 'BATAINDIA': 550,
 'BEL': 3800,
 'BHARATFORG': 1500,
 'BHARTIARTL': 1851,
 'JSWSTEEL': 1350,
 'BHEL': 10500,
 'BIOCON': 2300,
 'BOSCHLTD': 50,
 'BPCL': 1800,
 'LUPIN': 850,
 'M&MFIN': 4000,
 'CANBK': 5400,
 'CIPLA': 650,
 'MCDOWELL-N': 1250,
 'COALINDIA': 4200,
 'COFORGE': 375,
 'MFSL': 650,
 'CUB': 3100,
 'CUMMINSIND': 600,
 'DABUR': 1250,
 'MINDTREE': 400,
 'DIVISLAB': 200,
 'DLF': 3300,
 'DRREDDY': 125,
 'ESCORTS': 550,
 'EXIDEIND': 3600,
 'FEDERALBNK': 10000,
 'GAIL': 6100,
 'GMRINFRA': 22500,
 'GODREJCP': 1000,
 'PAGEIND': 30,
 'GODREJPROP': 650,
 'PFIZER': 125,
 'GUJGASLTD': 1250,
 'HAVELLS': 500,
 'PIDILITIND': 500,
 'HCLTECH': 700,
 'HDFCBANK': 550,
 'HDFCLIFE': 1100,
 'PIIND': 250,
 'POWERGRID': 4000,
 'HEROMOTOCO': 300,
 'PVR': 407,
 'SAIL': 9500,
 'HINDPETRO': 2700,
 'HINDUNILVR': 300,
 'IBULHSGFIN': 3100,
 'SHREECEM': 25,
 'ICICIBANK': 1375,
 'SRTRANSFIN': 400,
 'ICICIGI': 425,
 'ICICIPRULI': 1500,
 'IDEA': 70000,
 'IDFCFIRSTB': 9500,
 'TATACHEM': 1000,
 'IGL': 1375,
 'TATACONSUM': 1350,
 'INDIGO': 500,
 'INDUSINDBK': 900,
 'INDUSTOWER': 2800,
 'TATAMOTORS': 2850,
 'INFY': 600,
 'IOC': 6500,
 'TATAPOWER': 6750,
 'TATASTEEL': 850,
 'IRCTC': 325,
 'TECHM': 600,
 'ITC': 3200,
 'JINDALSTEL': 2500,
 'JUBLFOOD': 250,
 'KOTAKBANK': 400,
 'TORNTPHARM': 250,
 'L&TFH': 8924,
 'LICHSGFIN': 2000,
 'LT': 575,
 'TORNTPOWER': 1500,
 'UPL': 1300,
 'LTI': 150,
 'LTTS': 200,
 'M&M': 700,
 'VOLTAS': 500,
 'MANAPPURAM': 6000,
 'MARICO': 2000,
 'MGL': 600,
 'ASHOKLEY': 4500,
 'MOTHERSUMI': 3500,
 'MPHASIS': 325,
 'MRF': 10,
 'MUTHOOTFIN': 750,
 'NAM-INDIA': 1600,
 'ADANIENT': 1000,
 'NATIONALUM': 17000,
 'NAUKRI': 125,
 'NAVINFLUOR': 225,
 'NTPC': 5700,
 'ONGC': 7700,
 'PEL': 275,
 'PETRONET': 3000,
 'PFC': 6200,
 'PNB': 16000,
 'RAMCOCEM': 850,
 'RBLBANK': 2900,
 'RECLTD': 6000,
 'RELIANCE': 250,
 'SBIN': 1500,
 'SIEMENS': 275,
 'SRF': 125,
 'SUNPHARMA': 1400,
 'SUNTV': 1500,
 'TCS': 300,
 'TITAN': 375,
 'TRENT': 725,
 'TVSMOTOR': 1400,
 'UBL': 700,
 'ULTRACEMCO': 100,
 'WIPRO': 1600,
 'ZEEL': 3000,
 'GLENMARK': 1150,
 'COLPAL': 350,
 'LALPATHLAB': 250,
 'MARUTI': 100,
 'NESTLEIND': 50,
 'NMDC': 6700,
 'SBILIFE': 750,
 'VEDL': 3100}

In [36]:
from nsepy import live
live.get_quote("SBIN")

{'tradedDate': '12MAY2021',
 'data': [{'pricebandupper': '401.10',
   'symbol': 'SBIN',
   'applicableMargin': '20.96',
   'bcEndDate': '28-JUN-18',
   'totalSellQuantity': '1,235',
   'adhocMargin': '-',
   'companyName': 'State Bank of India',
   'marketType': 'N',
   'exDate': '15-JUN-18',
   'bcStartDate': '19-JUN-18',
   'css_status_desc': 'Listed',
   'dayHigh': '373.50',
   'basePrice': '364.65',
   'securityVar': '17.46',
   'pricebandlower': '328.20',
   'sellQuantity5': '-',
   'sellQuantity4': '-',
   'sellQuantity3': '-',
   'cm_adj_high_dt': '18-FEB-21',
   'sellQuantity2': '-',
   'dayLow': '361.90',
   'sellQuantity1': '1,235',
   'quantityTraded': '5,34,36,590',
   'pChange': '0.85',
   'totalTradedValue': '1,96,742.84',
   'deliveryToTradedQuantity': '19.62',
   'totalBuyQuantity': '-',
   'averagePrice': '368.18',
   'indexVar': '-',
   'cm_ffm': '1,36,445.26',
   'purpose': 'ANNUAL GENERAL MEETING/ CHANGE IN REGISTRAR AND TRANSFER AGENT',
   'buyPrice2': '-',
   'secDate': '12-May-2021 00:00:00',
   'buyPrice1': '-',
   'high52': '427.70',
   'previousClose': '364.65',
   'ndEndDate': '-',
   'low52': '149.45',
   'buyPrice4': '-',
   'buyPrice3': '-',
   'recordDate': '-',
   'deliveryQuantity': '1,04,86,191',
   'buyPrice5': '-',
   'priceBand': 'No Band',
   'extremeLossMargin': '3.50',
   'cm_adj_low_dt': '22-MAY-20',
   'varMargin': '17.46',
   'sellPrice1': '367.70',
   'sellPrice2': '-',
   'totalTradedVolume': '5,34,36,590',
   'sellPrice3': '-',
   'sellPrice4': '-',
   'sellPrice5': '-',
   'change': '3.10',
   'surv_indicator': '-',
   'ndStartDate': '-',
   'buyQuantity4': '-',
   'isExDateFlag': False,
   'buyQuantity3': '-',
   'buyQuantity2': '-',
   'buyQuantity1': '-',
   'series': 'EQ',
   'faceValue': '1.00',
   'buyQuantity5': '-',
   'closePrice': '367.70',
   'open': '362.80',
   'isinCode': 'INE062A01020',
   'lastPrice': '367.75'}],
 'optLink': '/marketinfo/sym_map/symbolMapping.jsp?symbol=SBIN&instrument=-&date=-&segmentLink=17&symbolCount=2',
 'otherSeries': ['EQ'],
 'futLink': '/live_market/dynaContent/live_watch/get_quote/GetQuoteFO.jsp?underlying=SBIN&instrument=FUTSTK&expiry=20MAY2021&type=-&strike=-',
 'lastUpdateTime': '12-MAY-2021 16:00:00'}

In [45]:
live.isworkingday(date(2021,5,12))

True

In [48]:
from nsepy import live
live.get_option_chain_table("SBIN",instrument='OPTSTK',expiry=date(2021,5,27))

ConnectionError: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))